.album {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album>.loader {
  margin-top: 100px;
}

.album-banner-container {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-image: url('../assets/Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.album-banner-title {
  width: 900px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 3.5rem;
  color: white;
  overflow: hidden;
  user-select: none;
}

.album-banner-subtitle {
  width: 900px;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  overflow: hidden;
  user-select: none;
}

.album-song-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 1280px) {
  .album-song-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 930px) {
  .album-banner-title {
    width: 700px;
  }

  .album-banner-subtitle {
    width: 700px;
  }
}

@media (max-width: 860px) {
  .album-banner-title {
    width: 700px;
  }

  .album-song-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 730px) {
  .album-banner-title {
    width: 500px;
  }

  .album-banner-subtitle {
    width: 500px;
  }
}

@media (max-width: 530px) {
  .album-banner-title {
    width: 400px;
  }

  .album-banner-subtitle {
    width: 400px;
  }
}