.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.not-found-title {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(57, 74, 82);
  user-select: none;
}