.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-banner-container {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url('../assets/Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-banner-title {
  font-size: 3.5rem;
  color: white;
  user-select: none;
}

.profile-information-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.profile-preview-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(159, 86, 255);
  border-radius: 50%;
  overflow: hidden;
}

.profile-user-preview {
  width: 150px;
  user-select: none;
  -webkit-user-drag: none;
}

.profile-user-label {
  margin-bottom: 10px;
  align-self: flex-start;
  font-weight: 400;
  color: rgb(159, 86, 255);
  user-select: none;
}

.profile-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-user-name {
  width: 450px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(159, 86, 255);
  background-color: transparent;
  border: 1px solid rgb(159, 86, 255);
  border-radius: 10px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.profile-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-user-email {
  width: 450px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(159, 86, 255);
  background-color: transparent;
  border: 1px solid rgb(159, 86, 255);
  border-radius: 10px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-user-image {
  width: 450px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(159, 86, 255);
  background-color: transparent;
  border: 1px solid rgb(159, 86, 255);
  border-radius: 10px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.profile-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-user-description {
  width: 450px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(159, 86, 255);
  background-color: transparent;
  border: 1px solid rgb(159, 86, 255);
  border-radius: 10px;
  outline: none;
  resize: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.profile-edit-button>a {
  width: 160px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 86, 255);
  box-shadow: 0 0 10px rgba(159, 86, 255, 0);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}

.profile-edit-button>a:hover {
  box-shadow: 0 0 10px rgb(159, 86, 255);
  transition: box-shadow 0.3s;
}